.post-card{
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 4px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    margin: 10px;
    text-align: left;
    width: 100%;
    display: inline-block;
}

.button-1 {
  background-color: #3B5441;
  border: #40d08f 1px solid;
  border-radius: 8px;
  box-sizing: border-box;
  color: #40d08f;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    opacity: 0.8;
}


