a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(23, 23, 23, 0.281);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar a {
    position: relative;
    color: #020302;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: color 0.3s;
    padding-bottom: 5px; /* Add some padding to create space for the underline */
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    width: 0;
    height: 3px;
    background: #d77d0d;
    transition: width 0.3s ease;
}

.navbar a:hover::before{
    width: 100%;
}

.navbar a.active-nav::before {
    width: 100%;
}

.navbar a:hover,
.navbar a.active-nav {
    color: #FF8C00;
}