@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-top: 30px;
  flex-grow: 1;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 100%;
}

/* You might need to adjust your existing Sidebar styles to fit this new layout */

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@font-face {
  font-family: 'Pragmata Pro';
  src: url('path/to/PragmataProRegular.woff2') format('woff2'),
       url('path/to/PragmataProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.created-input{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 4px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 150%;
}

.search-input{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 4px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.button-search {
  background-color: #006239;
  border: #2c9063 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  transition: background-color 100ms, border-color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-search:hover {
  background-color: #287050;
  border: #3ecf8e 1px solid;
}


.button-cmt {
  background-color: #3a3b3c;
  border: #5c5e60 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  transition: background-color 100ms, border-color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-cmt:hover {
  background-color: #545657;
  border: #545657 1px solid;
}

.button-false {
  background-color: #505151;
  border: #505151 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  color: #858686;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  transition: background-color 100ms, border-color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: not-allowed;
}


.button-post{
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  transition: background-color 100ms, border-color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-post:hover {
  background-color: #3a3b3c;
}

body:has(.modal){
  overflow: hidden;
}

.modal{
  border-radius: 10px;
  background: rgba(51, 49, 49, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(51, 49, 49, 0.45);
  width: 100%;
  display: flex;
  padding: 20px;
  text-align: left;
  width: 100%;
  display: inline-block;
  z-index: 50;
}

.cmt{
  border-radius: 5px;
  background: rgba(51, 49, 49, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(51, 49, 49, 0.45);
  width: 100%;
  display: flex;
  padding: 20px;
  text-align: left;
  width: 100%;
  display: inline-block;
  z-index: 50;
}

.bg{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 4px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* From Uiverse.io by G4b413l */ 
.line-wobble {
  --uib-size: 80px;
  --uib-speed: 1.55s;
  --uib-color: black;
  --uib-line-weight: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
 }
 
 .line-wobble::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: 0.1;
 }
 
 .line-wobble::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: wobble var(--uib-speed) ease-in-out infinite;
  transform: translateX(-90%);
  background-color: var(--uib-color);
 }
 
 @keyframes wobble {
  0%,
   100% {
   transform: translateX(-90%);
  }
 
  50% {
   transform: translateX(90%);
  }
 }
 