@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Pragmata Pro', monospace;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Dark mode colors and gradient */
  background: #121212; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@font-face {
  font-family: 'Pragmata Pro';
  src: url('path/to/PragmataProRegular.woff2') format('woff2'),
       url('path/to/PragmataProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.search-input{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 4px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.button-search {
  background-color: #006239;
  border: #2c9063 1px solid;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-search:hover,
.button-search:focus {
  background-color: #287050;
  border: #3ecf8e 1px solid;

}
