
.user-nav {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav a {
  position: relative;
  font-size: 20px;
  color: #808080;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s;
  padding-bottom: 5px; /* Add some padding to create space for the underline */
}

.user-nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #006239;
  transition: width 0.3s ease;
}

.user-nav a:hover::before,
.user-nav a:focus::before {
  width: 100%;
}

.user-nav a.active-nav::before {
  width: 100%;
}

.user-nav a:hover,
.user-nav a:focus,
.user-nav a.active-nav {
  color: #3ecf8e;
}


/* From Uiverse.io by adamgiebl */ 
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #006239;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #1cc37d;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #22ae5a;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #10be53;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 36px;
  width: 120px;
  border: none;
  background: #006239;
  border-radius: 20px;
  cursor: pointer;
  
}

.lable {
  line-height: 20px;
  font-size: 15px;
  color: #fff;
}

.button:hover {
  background: #287050;
}

.button:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}